@font-face {
    font-family: "AlfaSlabOne";
    src:
        url("../font/AlfaSlabOne-Regular.ttf");
}

// css
$screen-sm-mini: 576px;

$screen-xl-mini: 1200px;

    @media (min-width: #{$screen-sm-mini}) {

        body {
            max-width: $screen-sm-mini;
            margin: 0 auto;
            background-image: url("../img/fond.webp");

            >span {
                font-family: "AlfaSlabOne";
                background-color: black;
                color: white;
                padding: 0.2rem;
                float: right;
            }
        }

        body>hr {
            clear: both;
            height: 2px;
            background-color: black;
        }

        // header
        #logo img {
            float: left;
            width: 9rem;
            height: 9rem;
        }

        #title-flex {
            display: flex;
            flex-flow: column nowrap;
            padding-left: 1rem;
            margin: 0;
            height: 9rem;

            h1 {
                font-family: "AlfaSlabOne";
                margin: 0;

                span {
                    color: grey
                }
            }

            h2 {
                background-color: black;
                color: white;
                font-family: "AlfaSlabOne";
                font-size: 0.6rem;
                padding: 0.7rem;
                border-radius: 5px;
            }

            h4 {
                font-family: "AlfaSlabOne";
                text-transform: uppercase;
                color: grey;
                margin-top: 10px;
            }
        }

        // main
        .container {
            padding: 0 4rem;

            .children {
                background: linear-gradient(180deg, #f7eaea 40%, #bbb0b0 100%);
                // Todo Gradiant blanc vers gris + Drop shadow
                padding: 0.5rem;
                margin-bottom: 2rem;
                box-shadow: 10px 5px 5px black;

                h3 {
                    background-color: black;
                    color: white;
                    border-radius: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 10px;
                    font-size: 1.5rem;
                }

                .box {
                    margin: 0.5rem;
                    width: 12rem;
                    float: left;

                    .photo-card {
                        width: 12rem;
                    }

                    .text-box {
                        width: 12rem;
                        background-color: red;
                        font-family: "AlfaSlabOne";
                        color: white;
                        text-align: center;
                    }
                }

                p {
                    font-size: 1.5rem;
                    text-align: justify;
                }

                button {
                    float: right;
                    background-color: black;
                    color: white;
                    font-family: "AlfaSlabOne";
                    padding: 0.5rem;
                    border-radius: 15px;
                    border: none;
                }
            }
        }

        .clear {
            clear: both;
        }
    }

    @media (min-width: #{$screen-xl-mini}) {
        body {
            max-width: $screen-xl-mini;
            margin: 0 auto;
            background-image: url("../img/fond.webp");

            >span {
                font-family: "AlfaSlabOne";
                background-color: black;
                color: white;
                padding: 0.2rem;
                float: right;
            }
        }

        body>hr {
            clear: both;
            height: 2px;
            background-color: black;
        }

        // header
        #logo img {
            float: left;
            width: 9rem;
            height: 9rem;
        }

        #title-flex {
            display: flex;
            flex-flow: column nowrap;
            padding-left: 1rem;
            margin: 0;
            height: 9rem;

            h1 {
                font-family: "AlfaSlabOne";
                margin: 0;

                span {
                    color: grey
                }
            }

            h2 {
                background-color: black;
                color: white;
                font-family: "AlfaSlabOne";
                font-size: 0.6rem;
                padding: 0.7rem;
                border-radius: 5px;
            }

            h4 {
                font-family: "AlfaSlabOne";
                text-transform: uppercase;
                color: grey;
                margin-top: 10px;
            }
        }

        // main
        .container {
            padding: 0 4rem;
            display: flex;
            justify-content: space-around;

            .children {
                background: linear-gradient(180deg, #f7eaea 40%, #bbb0b0 100%);
                // Todo Gradiant blanc vers gris + Drop shadow
                padding: 0.5rem;
                margin-right: 2rem;
                box-shadow: 10px 5px 5px black;

                h3 {
                    background-color: black;
                    color: white;
                    border-radius: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 10px;
                    font-size: 1.5rem;
                }

                .box {
                    margin: 0.5rem;
                    width: 12rem;
                    float: left;

                    .photo-card {
                        width: 12rem;
                    }

                    .text-box {
                        width: 12rem;
                        background-color: red;
                        font-family: "AlfaSlabOne";
                        color: white;
                        text-align: center;
                    }
                }

                p {
                    font-size: 1.5rem;
                    text-align: justify;
                }

                button {
                    float: right;
                    background-color: black;
                    color: white;
                    font-family: "AlfaSlabOne";
                    padding: 0.5rem;
                    border-radius: 15px;
                    border: none;
                }
            }
        }

        .clear {
            clear: both;
        }

    }