@font-face {
  font-family: "AlfaSlabOne";
  src: url("../font/AlfaSlabOne-Regular.ttf");
}
body {
  margin: 0 auto;
  background-image: url("../img/fond.webp");
}
@media (min-width: 576px) {
  body {
    max-width: 576px;
  }
}
@media (min-width: 1200px) {
  body {
    min-width: 1200px;
    max-width: 100%;
  }
}
body > span {
  font-family: "AlfaSlabOne";
  background-color: black;
  color: white;
  float: right;
  padding: 0 1rem;
}

body > hr {
  clear: both;
  height: 2px;
  background-color: black;
  margin: 0;
}

#logo img {
  float: left;
  width: 9rem;
  height: 9rem;
}

#title-flex {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 1rem;
  margin: 0;
}
@media (min-width: 576px) {
  #title-flex {
    height: 9rem;
  }
}
@media (min-width: 1200px) {
  #title-flex {
    height: 15rem;
  }
}
#title-flex h1 {
  font-family: "AlfaSlabOne";
  margin: 0;
}
@media (min-width: 576px) {
  #title-flex h1 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  #title-flex h1 {
    font-size: 4rem;
  }
}
#title-flex h1 span {
  color: grey;
}
#title-flex h2 {
  background-color: black;
  color: white;
  font-family: "AlfaSlabOne";
}
@media (min-width: 576px) {
  #title-flex h2 {
    font-size: 0.6rem;
    padding: 0.7rem;
    border-radius: 5px;
  }
}
@media (min-width: 1200px) {
  #title-flex h2 {
    font-size: 1.5rem;
    border-radius: 10px;
  }
}
#title-flex h4 {
  font-family: "AlfaSlabOne";
  text-transform: uppercase;
  color: grey;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  #title-flex h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0 4rem;
  }
}
@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
.container .children {
  background: linear-gradient(180deg, #f7eaea 40%, #bbb0b0 100%);
  box-shadow: 10px 5px 5px black;
}
@media (min-width: 576px) {
  .container .children {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .container .children {
    width: 28%;
    margin: 0 1rem;
  }
}
.container .children h3 {
  background-color: black;
  color: white;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
  font-size: 1.5rem;
}
.container .children .box {
  float: left;
}
@media (min-width: 576px) {
  .container .children .box {
    margin: 0.5rem;
    width: 12rem;
  }
}
@media (min-width: 576px) {
  .container .children .box .photo-card {
    width: 12rem;
  }
}
.container .children .box .text-box {
  font-family: "AlfaSlabOne";
  background-color: red;
  color: white;
  text-align: center;
  width: 12rem;
}
.container .children p {
  font-size: 1.5rem;
  text-align: justify;
}
.container .children button {
  float: right;
  background-color: black;
  color: white;
  font-family: "AlfaSlabOne";
  border: none;
}
@media (min-width: 576px) {
  .container .children button {
    padding: 0.5rem;
    border-radius: 15px;
  }
}
@media (min-width: 1200px) {
  .container .children button {
    padding: 1rem;
  }
}

.clear {
  clear: both;
}/*# sourceMappingURL=style.css.map */