@use "_mixin.scss" as *;
@use "_couleurs.scss" as *;
@use "_font.scss" as *;

// css
body {
    margin: 0 auto;
    background-image: url("../img/fond.webp");

    @include sm {
        max-width: $screen-sm-min;
    }

    @include xl {
        min-width: $screen-xl-min;
        max-width: 100%;
    }

    >span {
        float: right;
        @include AlfaSlabOne;
        @include dark-font;
        padding: 0 1rem;
    }
}

body>hr {
    clear: both;
    height: 2px;
    background-color: black;
    margin: 0;
}

// header
#logo img {
    float: left;
    width: 9rem;
    height: 9rem;
}

#title-flex {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 1rem;
    margin: 0;

    @include sm {
        height: 9rem;
    }

    @include xl {
        height: 15rem;
    }

    h1 {
        @include AlfaSlabOne;
        margin: 0;

        @include sm {
            font-size: 2rem;
        }

        @include xl {
            font-size: 4rem;
        }

        span {
            color: grey
        }
    }

    h2 {
        @include dark-font ;
        @include AlfaSlabOne;

        @include sm {
            font-size: 0.6rem;
            padding: 0.7rem;
            border-radius: 5px;
        }

        @include xl {
            font-size: 1.5rem;
            border-radius: 10px;
        }
    }

    h4 {
        @include AlfaSlabOne;
        text-transform: uppercase;
        color: grey;
        margin-top: 10px;

        @include xl {
            font-size: 1.5rem;
        }
    }
}

// main
.container {
    @include sm {
        padding: 0 4rem;
    }

    @include xl {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .children {
        background: linear-gradient(180deg, #f7eaea 40%, #bbb0b0 100%);
        box-shadow: 10px 5px 5px black;

        @include sm {
            padding: 0.5rem;
            margin-bottom: 2rem;
        }

        @include xl {
            width: 28%;
            margin: 0 1rem;
        }

        h3 {
            @include dark-font;
            border-radius: 15px;
            text-align: center;
            text-transform: uppercase;
            margin: 10px;
            font-size: 1.5rem;
        }

        .box {
            float: left;

            @include sm {
                margin: 0.5rem;
                width: 12rem;
            }

            .photo-card {
                @include xl {
                    width: 12rem;
                }

            }

            .text-box {
                @include AlfaSlabOne;
                @include red-white-font;
                text-align: center;
                width: 12rem;
            }
        }

        p {
            font-size: 1.5rem;
            text-align: justify;
        }

        button {
            float: right;

            @include dark-font;
            font-family: "AlfaSlabOne";
            border: none;
            padding: 1rem;
            border-radius: 15px;
        }
    }
}

.clear {
    clear: both;
}